In [1]:
import pandas as pd

In [2]:
path = 'trainLabels.csv'
df = pd.read_csv(path)
df.head()

      image  level
0   10_left      0
1  10_right      0
2   13_left      0
3  13_right      0
4   15_left      1

In [3]:
df.loc[df['level'] == 4].count()

image    708
level    708
dtype: int64

In [4]:
df_4 = df.loc[df['level'] == 4]

In [5]:
df.loc[df['level'] == 3].count()

image    873
level    873
dtype: int64

In [6]:
df_3 = df.loc[df['level'] == 3]

In [7]:
df.loc[df['level'] == 1].count()

image    2443
level    2443
dtype: int64

In [8]:
df_1 = df.loc[df['level'] == 1]

In [14]:
df_temp = df_1[df_1['image'].str.contains("_right")]
df_temp.count()

image    1231
level    1231
dtype: int64

In [15]:
frames = [df_temp, df_3, df_4]

In [16]:
additional_images_df = pd.concat(frames)

In [22]:
additional_images_df.count()

id_code      2812
diagnosis    2812
dtype: int64

In [20]:
additional_images_df.rename(columns={"image": "id_code", "level": "diagnosis"}, inplace=True)
additional_images_df.head()

       id_code  diagnosis
9     17_right          1
103  114_right          1
151  178_right          1
173  204_right          1
211  240_right          1

In [21]:
additional_images_df.to_csv ('train_extra.csv', index = None, header=True)

In [23]:
import os
import shutil
for i, row in additional_images_df.iterrows():  # iterate over each id
    image_id = row['id_code']
    shutil.move(f'train/{image_id}.jpeg', f'train/keep/{image_id}.jpeg')