## This notebook goes through the image label files, sorts out the images desired for training the model and creates new csv files needed in creating the pickle.
## Please note that images and paths to images are not in the repository and this notebook won't run as is without some data and path manipulation.

In [1]:
import pandas as pd

# Orig Kaggle images (png)

In [17]:
path = "../Blindness-Detection-App/Notebooks/data/train.csv"
df_png = pd.read_csv(path)
df_png.head()

        id_code  diagnosis
0  000c1434d8d7          2
1  001639a390f0          4
2  0024cdab0c1e          1
3  002c21358ce6          0
4  005b95c28852          0

In [19]:
print(df_png.loc[df_png['diagnosis'] == 4].count())
print(df_png.loc[df_png['diagnosis'] == 3].count())
print(df_png.loc[df_png['diagnosis'] == 2].count())
print(df_png.loc[df_png['diagnosis'] == 1].count())
print(df_png.loc[df_png['diagnosis'] == 0].count())

id_code      295
diagnosis    295
dtype: int64
id_code      193
diagnosis    193
dtype: int64
id_code      999
diagnosis    999
dtype: int64
id_code      370
diagnosis    370
dtype: int64
id_code      1805
diagnosis    1805
dtype: int64

# Old Kaggle images (jpeg)

In [2]:
path = 'trainLabels.csv'
df_jpeg = pd.read_csv(path)
df_jpeg.head()

      image  level
0   10_left      0
1  10_right      0
2   13_left      0
3  13_right      0
4   15_left      1

In [3]:
df_jpeg_4 = df_jpeg.loc[df_jpeg['level'] == 4]
df_jpeg_3 = df_jpeg.loc[df_jpeg['level'] == 3]
df_jpeg_2_all = df_jpeg.loc[df_jpeg['level'] == 2]
df_jpeg_2_right = df_jpeg_2_all[df_jpeg_2_all['image'].str.contains("_right")]
df_jpeg_2 = df_jpeg_2_right.sample(300)
df_jpeg_1_all = df_jpeg.loc[df_jpeg['level'] == 1]
df_jpeg_1 = df_jpeg_1_all[df_jpeg_1_all['image'].str.contains("_right")]

In [4]:
print(df_jpeg_4.count())
print(df_jpeg_3.count())
print(df_jpeg_2.count())
print(df_jpeg_1.count())
print(df_jpeg.loc[df_jpeg['level'] == 2].count())

image    708
level    708
dtype: int64
image    873
level    873
dtype: int64
image    300
level    300
dtype: int64
image    1231
level    1231
dtype: int64
image    5292
level    5292
dtype: int64

In [40]:
frames = [df_jpeg_1, df_jpeg_2, df_jpeg_3, df_jpeg_4]
jpeg_images_df = pd.concat(frames)
jpeg_images_df.count()

image    3112
level    3112
dtype: int64

In [41]:
jpeg_images_df.rename(columns={"image": "id_code", "level": "diagnosis"}, inplace=True)
jpeg_images_df.head()

       id_code  diagnosis
9     17_right          1
103  114_right          1
151  178_right          1
173  204_right          1
211  240_right          1

In [42]:
jpeg_images_df.to_csv ('train_jpeg.csv', index = None, header=True)

# move jpeg images to a keep folder so as to only process thru these

In [43]:
import os
import shutil
for i, row in jpeg_images_df.iterrows():  # iterate over each id
    image_id = row['id_code']
    shutil.move(f'train/{image_id}.jpeg', f'train/keep/{image_id}.jpeg')

# IDR images (jpg)

In [32]:
path = "../Blindness-Detection-App/Notebooks/data/IDRiD_5cat.csv"
df_jpg = pd.read_csv(path)
df_jpg.head()

     id_code  diagnosis
0  IDRiD_001          3
1  IDRiD_002          3
2  IDRiD_003          2
3  IDRiD_004          3
4  IDRiD_005          4

In [33]:
df_jpg_4 = df_jpg.loc[df_jpg['diagnosis'] == 4]
df_jpg_3 = df_jpg.loc[df_jpg['diagnosis'] == 3]
# df_jpg_2 = df_jpg.loc[df_jpg['diagnosis'] == 2]
df_jpg_1 = df_jpg.loc[df_jpg['diagnosis'] == 1]

In [34]:
# frames_jpg = [df_jpg_1, df_jpg_2, df_jpg_3, df_jpg_4]
frames_jpg = [df_jpg_1, df_jpg_3, df_jpg_4]
jpg_images_df = pd.concat(frames_jpg)
jpg_images_df.count()

id_code      143
diagnosis    143
dtype: int64

In [35]:
print(df_jpg_4.count())
print(df_jpg_3.count())
# print(df_jpg_2.count())
print(df_jpg_1.count())

id_code      49
diagnosis    49
dtype: int64
id_code      74
diagnosis    74
dtype: int64
id_code      20
diagnosis    20
dtype: int64

In [36]:
jpg_images_df.to_csv ('train_jpg.csv', index = None, header=True)